.password-input-container {
  position: relative;
}

.password-icon-container {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
}
.input-padding-lf{
  padding-left: 6% !important;
  margin-bottom: 4%;
  margin-top: 0%;
}
/* .input:focus {
    outline: none !important;
  } */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.round-border {
  border-radius: 26.5px !important;
}
.no-border {
  border: none !important;
}
.btn-bg-inherit{
  background-color: inherit !important;
}
.black-border {
  border: 1px solid black !important;
}
.grey-border-bottom {
  border-bottom: 1px solid #D4D4D4 !important;
}
.input-font-size{
  font-size: 15px !important;
}
.link-btn {
  text-decoration: underline !important;
  /* background-color: inherit !important; */
  color: red !important;
  width: 100%;
  font-size: 15px !important;
  margin-top: 3%;
}
.signUp-conainer {
  background-color: #f5f1ea;
  font-size: 15px !important;
  height: fit-content;
}
.nav-login-container{
  padding: 1% 0;
}
.login-btn{
  padding: 4% 15% !important;
  font-size: 15px !important;
}

